{% load static %}
<!-- Preloader -->
<!-- Preloader -->

<style>
	.nav-profile-photo {
		display: inline-block;
		width: 50px;  /* Adjust the width to your desired size */
		height: 50px;  /* Adjust the height to your desired size */
		border-radius: 50%;  /* Make the photo circular */
		object-fit: cover;  /* Maintain the aspect ratio and cover the container */
		margin-right: 5px;  /* Add some spacing to the right of the photo */
	  }</style>
<header class="header">
				<nav class="navbar navbar-expand-lg header-nav">
					<div class="navbar-header">
						<a id="mobile_btn" href="javascript:void(0);">
							<span class="bar-icon">
								<span></span>
								<span></span>
								<span></span>
							</span>
						</a>
						<a href="{%url 'accounts:index'%}" class="navbar-brand logo">
							<img src="{% static 'img/logo1.png' %}" class="img-fluid" alt="Logo">
						</a>
					</div>
					<div class="main-menu-wrapper">
						<div class="menu-header">
							<a href="{%url 'accounts:index'%}" class="menu-logo">
								<img src="{% static 'img/logo1.png' %}" class="img-fluid" alt="Logo">
							</a>
							<a id="menu_close" class="menu-close" href="javascript:void(0);">
								<i class="fas fa-times"></i>
							</a>
						</div>
						<ul class="main-nav">
							<li class="active">
								<a href="{%url 'accounts:index'%}">Home</a>
							</li>
							{% if request.user.is_authenticated and request.user.is_Patient %}
							<li class="has-submenu">
								<a href="#">Checkout <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="doctor-dashboard.html">Doctor Dashboard</a></li>
									<li><a href="{% url 'appointment:take-appointment' %}">Appointments</a></li>
									
								</ul>
							</li>	
							
							<li>
								<a href="admin" target="_blank">Admin</a>
							</li>
							<li class="login-link">
								<a href="login.html">{{request.user.name}}</a>
							</li>
							{% elif request.user.is_authenticated and request.user.is_Doctor%}
							
							<li class="has-submenu">
								<a href="#">Checkout <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="{% url 'appointment:patient-list' %}">Patients</a></li>
									
									<li><a href="{% url 'appointment:doctor-profile-update' id=request.user.id  %}">Profile Settings</a></li>
									
								</ul>
							</li>	
							
							<li>
								<a href="admin" target="_blank">Admin</a>
							</li>
							<li class="login-link">
								<a href="login.html">{{request.user.name}}</a>
							</li>
							{% else %}
							
							<li>
								<a href="#" target="_blank">About</a>
							</li>
							<li>
								<a href="#" target="_blank">FAQs</a>
							</li><li>
								<a href="#" target="_blank">Services</a>
							</li>
							<li class="login-link">
								<a href="login.html">{{request.user.name}}</a>
							</li>
							{%endif%}
						</ul>		 
					</div>		 
					<ul class="nav header-navbar-rht">
						<li class="nav-item contact-item">
							<div class="header-contact-img">
								<i class="far fa-hospital"></i>							
							</div>
							<div class="header-contact-detail">
								<p class="contact-header">Contact</p>
								<p class="contact-info-header"> +91-4544614864</p>
							</div>
						</li>
						{% if request.user.is_authenticated and request.user.is_Patient %}
						<li class="nav-item">
							{% if request.user.patientadditional.profile_photo %}
							<a href="{% url 'appointment:patient-profile-update' id=request.user.id %}" class="nav-profile-photo">
								<img src="{{ request.user.patientadditional.profile_photo.url }}" alt="Profile Photo" class="nav-profile-photo">
							</a>
							{% else %}
							<a href="{% url 'appointment:patient-profile-update' id=request.user.id %}" class="nav-link header-login">
								{{ request.user.name }}
							</a>
						
							{% endif %}
						</li>
						<li class="nav-item">
							<a class="nav-link header-login" href="{% url 'accounts:logout' %}">logout</a>
						</li>
						{% elif request.user.is_authenticated and request.user.is_Doctor%}
						<li class="nav-item">
							{% if request.user.appointment.image %}
							<a href="{% url 'appointment:doctor-profile-update' id=request.user.id %}" class="nav-profile-photo">
								<img src="{{ request.user.appointment.image.url }}" alt="Profile Photo" class="nav-profile-photo">
							</a>
							{% else %}
								<a href="{% url 'appointment:doctor-profile-update' id=request.user.id %}" class="nav-link header-login">
        {{ request.user.name }}
    </a>

							{% endif %}
						</li>
						<li class="nav-item">
							<a class="nav-link header-login" href="{% url 'accounts:logout' %}">logout </a>
						</li>

						{%else%}
						<li class="nav-item">
							<a class="nav-link header-login" href="{% url 'accounts:Doctor_register' %}">Doctor/signup </a>
						</li>
						<li class="nav-item">
							<a class="nav-link header-login" href="{% url 'accounts:Patient_register' %}">Patient/signup </a>
						</li>
						<li class="nav-item">
							<a class="nav-link header-login" href="{% url 'accounts:login' %}">login </a>
						</li>
						{%endif%}
					</ul>
				</nav>
			</header>